@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

/* Fix Leaflet marker icon paths */
.leaflet-default-icon-path {
  background-image: url("/leaflet/marker-icon.png");
}
.leaflet-default-shadow-path {
  background-image: url("/leaflet/marker-shadow.png");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
